.App {
  text-align: center;
}

.textContainer {
  border: solid 1px grey;
  padding: 10px;
  margin: 10px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.settingButton {
  position: fixed;
  right: 10px;
  top: 10px;
}
